*.lck
Inventor/burk.stl
Inventor/burk.ipt
Inventor/burk.thing
Inventor/OldVersions/avocadogrower.0004.ipt
Inventor/avocadogrower.ipt
Inventor/avocadogrower.stl
Inventor/OldVersions/avocadogrower.0005.ipt
Inventor/avocadogrower2.stl
Inventor/avocadogrower2.thing
